<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ibicd.promote.mybatis.mapper.WechatConfMapper">

    <resultMap id="confMap" type="com.ibicd.promote.miniApp.domain.WechatConf">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="app_sec" jdbcType="VARCHAR" property="appSecret"/>
    </resultMap>

    <select id="findByAppId" resultMap="confMap">
        select *
        from we_conf
        where app_id = #{appId}
    </select>

</mapper>